// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$cor-verde: #3EA14E;
$cor-cinza: #F6F5F4;
$cor-fundo: #F6F5F4;
$cor-vermelho: #A30D11;
